* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-colour: #080808;
    --second-bg-colour: #131313;
    --text-colour: white;
    --main-colour: #00ffee;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-colour);
    color: var(--text-colour);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--text-colour);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-colour);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-colour);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-colour);
    border-bottom: 3px solid var(--main-colour);
}

#menu-icon {
    font-size: 5rem;
    color: var(--main-colour);
    display: none;
    cursor: pointer;
}

section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.intro-text {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #f3f3f3; /* You can adjust this color to match your theme */
    margin: 20px 0;
    text-align: justify;
}
.home-context {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span {
    color: var(--main-colour);
}

.logo span {
    color: var(--main-colour);
}

.home-context h1 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-context h3 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.home-img {
    border-radius: 56%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-colour);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-colour),
        0 0 50px var(--main-colour),
        0 0 100px var(--main-colour);
}

.home-context p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-colour);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-colour);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-colour);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-colour);
    background-color: var(--main-colour);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-colour);
    box-shadow: 0 0 25px var(--main-colour);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-colour);
}

.btn-group a:nth-last-of-type(2) {
    background-color: black;
    color: var(--main-colour);
    border: 2px solid var(--main-colour);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-last-of-type(2) {
    box-shadow: 0 0 25px var(--main-colour);
    background-color: var(--main-colour);
    color: black;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
    display: inline-block;
    padding-right: 10px; /* Added padding to create space */
}

.text-animation span::before {
    content: " ";
    color: var(--main-colour);
    animation: words 14s infinite;
}

.text-animation span::after {
    content: " ";
    background-color: var(--bg-colour);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-colour);
    right: 0;
    animation: cursor 0.8s infinite, typing 14s steps(22) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-colour);
    }
}

@keyframes words {
    0%, 20% {
        content: "Full stack Developer";
    }
    21%, 40% {
        content: "Frontend Developer";
    }
    41%, 60% {
        content: "Backend Developer";
    }
    61%, 80% {
        content: "UI / UX Developer";
    }
    81%, 100% {
        content: "Programmer";
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}


.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.education {
    padding: 100px 15px;
    background-color: #080808;
}

:root {
    --main-color: var(--main-colour);
    --bg-color: var(--bg-color);
}

/* Section heading */
.education h2 {
    margin-bottom: 5rem;
}

/* Timeline container */
.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* Timeline vertical line */
.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 2.5px);
}

/* Individual timeline item */
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    padding: 0 20px; /* Added padding */
}
.timeline-item:last-child {
    margin-bottom: 0;
}

/* Odd and even timeline items for alternating alignment */
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 20px);
    text-align: right;
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 20px);
}

/* Timeline dot */
.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 10.5px);
    border-radius: 50%;
    top: 10px;
}

/* Timeline date */
.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin-bottom: 15px;
}

/* Timeline content box */
.timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative; /* For correct positioning */
}
.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

/* Timeline content heading */
.timeline-content h3 {
    font-size: 20px;
    color: var(--main-colour);
    margin: 0 0 10px;
    font-weight: 500;
}

/* Timeline content paragraph */
.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-colour);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-colour);
    width: 50px;
}

/* Media Queries */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .home {
        flex-direction: column;
    }

    .home-img img {
        width: 55vw;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--bg-colour);
        padding: 20px 12%;
        text-align: center;
        display: none;
        flex-direction: column;
    }

    .navbar a {
        margin: 10px 0;
    }

    #menu-icon {
        display: block;
    }

    .navbar.active {
        display: flex;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }

    .home-img img {
        width: 80vw;
        margin: -80px -150px;
        margin-bottom: -100px;
    }

    .timeline-date {
        font-size: 16px;
    }

    .timeline-content {
        width: calc(100% - 40px);
    }

    .timeline-item:nth-child(odd) {
        padding-right: 20px;
    }

    .timeline-item:nth-child(even) {
        padding-left: 20px;
    }
}


/* Variables for repeated values */
:root {
    --main-color: #00ffee;
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --secondary-text-color: #00ffee;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.skills {
    padding: 50px 20px;
}

.heading {
    text-align: center;
    font-size: 36px;
    color: var(--main-color);
    margin-bottom: 40px;
    position: relative;
}

.heading::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-category {
    background-color: var(--second-bg-color);
    border: 2px solid var(--main-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    position: relative;
}

.skills-category:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 15px;
}

.skills-category h3 {
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 15px;
}

.skills-category ul {
    list-style: none;
    padding: 0;
}

.skills-category ul li {
    font-size: 18px;
    margin: 10px 0;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}

.skills-category ul li i {
    margin-right: 10px;
    color: var(--main-color);
}

.skills-category ul li:hover {
    color: var(--secondary-text-color);
}
/* Variables for repeated values */
:root {
    --main-color: #00ffee;
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --secondary-text-color: #00ffee;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.experience {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
    font-size: 36px;
    color: var(--main-color);
    margin-bottom: 40px;
    position: relative;
}

.heading::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.experience-item {
    background-color: var(--second-bg-color);
    border: 2px solid var(--main-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0; /* Add margin to space out items */
    padding: 20px;
    width: 100%;
    max-width: 600px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: flex-start;
}

.experience-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 40px;
    color: var(--main-color);
    margin-right: 20px;
}

.experience-content {
    flex-grow: 1;
}

.experience-content h3 {
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 5px;
}

.experience-content span {
    display: block;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 15px;
}

.experience-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.experience-content ul li {
    font-size: 16px;
    margin: 10px 0;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
    position: relative;
    padding-left: 20px;
}

.experience-content ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--main-color);
}


:root {
    --bg-colour: #080808;
    --second-bg-colour: #131313;
    --text-colour: white;
    --main-colour: #00ffee;
    --link-colour: #00bfff; /* New color for links */
}

body {
    background-color: var(--bg-colour);
    color: var(--text-colour);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.projects {
    padding: 50px 20px;
}

.project-image {
    width: 100%;
    /* max-width: 400px; */
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
    /* display: block; */
}

.heading {
    text-align: center;
    font-size: 36px;
    color: var(--main-colour);
    margin-bottom: 40px;
    position: relative;
}

.heading::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: var(--main-colour);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

 .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-item {
    background-color: var(--second-bg-colour);
    border: 2px solid var(--main-colour);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: calc(45% - 30px); /* Adjusted for margins */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-item h3 {
    font-size: 24px;
    color: var(--main-colour);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-item h3 span a {
    font-size: 16px;
    color: var(--link-colour);
    text-decoration: none;
}

.project-item span {
    display: block;
    font-size: 16px;
    color: var(--text-colour);
    margin-bottom: 15px;
}

.project-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-item ul li {
    font-size: 16px;
    margin: 10px 0;
    color: var(--text-colour);
    transition: color 0.3s ease-in-out;
    position: relative;
    padding-left: 20px;
}

.project-item ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--main-colour);
}

.project-item p {
    font-size: 16px;
    color: var(--main-colour);
    margin-top: 15px;
}

.live-link, .github-link {
    display: inline-block;
    background-color: var(--main-colour);
    color: var(--bg-colour);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-top: 10px;
    margin-right: 10px;
}

.live-link:hover, .github-link:hover {
    background-color: var(--bg-colour);
    color: var(--main-colour);
    transform: scale(1.05);
} 

:root {
    --bg-colour: #080808;
    --second-bg-colour: #131313;
    --text-colour: white;
    --main-colour: #00ffee;
    --form-bg-colour: #1e1e1e;
}

body {
    background-color: var(--bg-colour);
    color: var(--text-colour);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.contact {
    padding: 50px 20px;
}

.heading {
    text-align: center;
    font-size: 36px;
    color: var(--main-colour);
    margin-bottom: 40px;
    position: relative;
}

.heading::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: var(--main-colour);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info {
    max-width: 400px;
    margin: 15px;
}

.contact-info h3 {
    font-size: 24px;
    color: var(--main-colour);
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 16px;
    color: var(--text-colour);
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info-item i {
    font-size: 20px;
    color: var(--main-colour);
    margin-right: 10px;
}

.contact-form {
    background-color: var(--form-bg-colour);
    border: 2px solid var(--main-colour);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 30px); /* Adjusted for margins */
    margin: 15px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--second-bg-colour);
    color: var(--text-colour);
    font-size: 16px;
}

.contact-form button {
    background-color: var(--main-colour);
    color: var(--bg-colour);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: var(--bg-colour);
    color: var(--main-colour);
    transform: scale(1.05);
}

.footer {
    background-color: var(--second-bg-colour);
    color: var(--text-colour);
    font-size: 20px;
    text-align: center;
    padding: 12px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Media Queries for Responsive Design */
@media (max-width: 991px) {
    .skills-container, .experience-container, .project-container, .contact-container {
        flex-direction: column;
    }

    .skills-category, .experience-item, .project-item, .contact-form {
        width: calc(100% - 30px); /* Full width with margin adjustment */
       
    }

    .icon {
        font-size: 30px;
    }

    .heading {
        font-size: 32px;
    }

    .skills-category h3, .experience-content h3, .project-item h3, .contact-info h3 {
        font-size: 20px;
    }

    .skills-category ul li, .experience-content ul li, .project-item ul li {
        font-size: 16px;
    }

    .skills-category ul li i, .experience-content ul li::before, .project-item ul li::before {
        font-size: 14px;
    }

    .experience-content span, .project-item span, .contact-info p {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .heading {
        font-size: 28px;
    }

    .icon {
        font-size: 25px;
    }

    .skills-category h3, .experience-content h3, .project-item h3, .contact-info h3 {
        font-size: 18px;
    }

    .skills-category ul li, .experience-content ul li, .project-item ul li {
        font-size: 14px;
    }

    .skills-category ul li i, .experience-content ul li::before, .project-item ul li::before {
        font-size: 12px;
    }

    .experience-content span, .project-item span, .contact-info p {
        font-size: 12px;
    }

    .live-link, .github-link {
        font-size: 14px;
    }

    .contact-form button {
        font-size: 14px;
    }

}

.footer-text {
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    line-height: 1.6;
}

.footer-text i {
    color: #3bdaf2;
    font-size: 23px;
    
}
